@font-face {
    font-family: 'meriendaOne';
    src: url(./fonts/meriendaOne.ttf);
}

@font-face {
    font-family: 'lobsterRegular';
    src: url(./fonts/lobsterRegular.ttf);
}

* {
    margin: 0;
    padding: 0;
} 
  
body {
    height: 100vh;
}
  
li {
    list-style-type: none;
    padding-right: 3vw;
}

a {
    cursor: pointer;
    text-decoration: none;
}

input+label:hover,
button {
    cursor: pointer;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/*Main*/
.header,
.footer {
    color: #fff;
}

main {
    min-height: 73.2vh;
    font-family: 'lobsterRegular';
}

.header-title {
    justify-content: space-around;
    align-items: center;

    background-color: #000;

    font-family: 'meriendaOne';
    font-size: 25px;
}

@media (min-width: 425px) and (max-width: 768px) {
    .header-title {
        font-size: 15px;
    }
}

.header-nav {
    align-items: center;
    padding-top: 2vh;

    border-top: 1px solid white;
    background: linear-gradient(180deg, #000000 0%, #2b2433 91%);
    
    font-family: 'lobsterRegular';
    font-size: 30px;
}

@media (min-width: 425px) and (max-width: 768px) {
    .header-nav {
        font-size: 20px;
    }
}

.nav-menu {
    justify-content: center;
    flex-basis: 80%;
}

.nav-basket {
    position: relative;

    align-items: center;
    flex-basis: 20%;
}

.basket-img {
    margin-right: 1.5vw;
}

.notification {
    position: absolute;
    top: -1.7vh;
    right: 8.3vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 3vh;
    box-sizing: border-box;
    
    background: #f5222d;
    border: 1px solid #fff;
    border-radius: 16px;
    color: #fff;
    
    font-size: 15px;
    font-weight: 100;
}

.header-link {
    color: #fff;
    font-weight: bolder;
}

.header-link:hover {
    color: #b8b3b3;
}

.models-phone {
    justify-content: space-around;
    align-items: center;

    font-family: 'meriendaOne';
}

.background-main {
    box-sizing: border-box;
    background: linear-gradient(180deg, #2b2433 0%, #c0b4cd 36%, #dcceec 50%, #c0b4cd 63%, #2b2433 100%);
}

.item-phone:hover {
    text-decoration: underline;
}

.item-phone-link {
    align-items: center;

    color: #000;

    font-weight: bolder;
}

.item-phone-name {
    margin: 0 auto;
    font-size: 30px;
}

@media (min-width: 425px) and (max-width: 768px) {
    .item-phone-img,
    .model-img {
        width: 150px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .item-phone-name {
        font-size: 22px;
    }
}

.footer {
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(180deg, #2b2433 0%, #000000 35%);

    font-family: 'lobsterRegular';
    font-size: 16px;
}

@media (min-width: 425px) and (max-width: 768px) {
    .footer {
        font-size: 12px;
    }
}

fieldset {
    border: none;
}

.mailing-input {
    height: 4vh;
    margin-top: 1.3vh;
    font-family: 'lobsterRegular';
    font-size: 16px;
}

.number,
.icons {
    padding-top: 1.3vh;
}

.number {
    font-size: 13px;
}

.item-icon {
    padding-right: 13px;
}

/*Models*/
input[type=radio] {
    display: none;
}

.model {
    align-items: center;
    justify-content: space-around;
}

.model-img {
    max-height: 50vh;
}

.discription-name-article {
    font-family: 'meriendaOne';

}

.discription-name {
    margin-bottom: 4vh;
    margin-right: 3vw;

    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
}

@media (min-width: 425px) and (max-width: 768px) {
    .discription-name {
        font-size: 30px;
    }
}

.discription-article {
    color: #3b3b3b;
    font-size: 18px;
}

@media (min-width: 425px) and (max-width: 768px) {
    .discription-article {
        font-size: 12px;
    }
}

.discription-parameters {
    margin-bottom: 2vh;
    font-size: 20px;
}

@media (min-width: 425px) and (max-width: 768px) {
    .discription-parameters {
        font-size: 15px;
    }
}

.parameters-title {
    margin-bottom: 1.5vh;
}

@media (min-width: 425px) and (max-width: 768px) {
    .parameters-title {
        font-size: 15px;
    }
}

.parameter-item,
.options-memory {
    margin: 0 0 0.3vh 1.5vw;
}

.options-color {
    margin: 0 0 2.3vh 1.5vw;
}

.color-item {
    box-sizing: border-box;
    margin-right: 2vw;
}

.color-item input + label img{
    padding: 7px;
}

.color-item input:checked + label img{
    border: 1px solid #424242;
    background: #d4d2d2;
} 

.memory-item {
    margin-right: 2vw;

    border: 2px solid #9e9e9e;
    border-radius: 0 9px;
    padding: 10px;

    font-weight: bold;
}

.memory-item input:checked + label {
    border-radius: 0 9px;
    padding: 9px 11px;

    background: #d4d2d2;

    text-decoration: underline;
    font-weight: bolder;
}

.wrap-summary-cost {
    margin: 0 0 5vh 5vw;

    font-size: 26px;
    font-weight: bolder;
}

@media (min-width: 425px) and (max-width: 768px) {
    .wrap-summary-cost {
        font-size: 22px;
    }
}

.summary-cost {
    display: block;
    margin-top: 1.1vh;

    font-size: 55px;
    font-weight: bolder;
    text-decoration: underline;
}

@media (min-width: 425px) and (max-width: 768px) {
    .summary-cost {
        font-size: 40px;
    }
}

/*Backet*/
.bin {
    align-items: center;
}

.bin-wrap {
    width: 95vw;
}

.bin-title {
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    color: #ff7f29;

    font-size: 50px;
    font-weight: bolder;
}

@media (min-width: 425px) and (max-width: 768px) {
    .bin-title {
        font-size: 30px;
    }
}

.bin-message {
    font-size: 32px;
}

.table-left {
    width: 70vw;
    box-sizing: border-box;
    color: #000;
}

.goods-item {
    width: 80%;
    justify-content: space-around;
    align-items: center;    
    margin: 5vh 0;

    font-size: 23px;
}

@media (min-width: 425px) and (max-width: 768px) {
    .goods-item {
        font-size: 17px;
    }
}

.item-image {
    height: 20vh;
}

.item-value {
    width: 10%;    
    justify-content: center;
    align-items: center;    
}

.value-add,
.value-reduce {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #ff7f29;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 15px;

    font-size: 14px;
    font-weight: bold;
}

.value {
    margin: 0 7px;
}

.checkAll-wrap {
    color: #fff;
    font-size: 20px;
}

@media (min-width: 425px) and (max-width: 768px) {
    .checkAll-wrap {
        font-size: 17px;
    }
}

#allGoods {
    margin: 0 1vw 0 1.5vw;
}

.table-right {
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    height: 30vh;
    box-sizing: border-box;

    background-color: #ff7f29;
    color: #363636;
    border-radius: 0 50px;
    box-shadow: 16px 16px 19px 3px #000000cf;

    font-size: 32px;
    font-weight: bolder;
}

@media (min-width: 425px) and (max-width: 768px) {
    .table-right {
        font-size: 25px;
    }
}

.button {
    padding: 1vh 1.8vw 1vh 1.8vw;

    border-radius: 10px;
    background: #ffd403 linear-gradient(#ffd403, #f89d17);
    box-shadow: inset 0 -2px 1px #00000000, inset 0 1px 2px #00000000, inset 0 0 0 60px #ffff0000;
    transition: box-shadow .2s, border-color .2s;

    font-size: 19px;
    font-family: 'lobsterRegular';
    font-weight: bolder;
}

@media (min-width: 425px) and (max-width: 768px) {
    .button {
        font-size: 13px;
    }
}

.button:hover {
    box-shadow: inset 0 -1px 1px #00000000, inset 0 1px 2px #00000000, inset 0 0 0 60px #ffff0080;
    cursor: pointer;
}

.total-sum {
    font-size: 35px;
}

@media (min-width: 425px) and (max-width: 768px) {
    .total-sum {
        font-size: 27px;
    }
}

.wrap-shading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:  #3f3f3f80;
}

.wrap-personal-data {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 35vw;
    max-height: 60vh;
    text-align: center;
    margin: auto;
    background-color: #fdeab4;
    font-family: 'lobsterRegular';
}

.data-form {
    position: relative;
    top: 50px;
    height: 80%;
    align-items: center;
    justify-content: space-around;
}

.form-legend {
    font-size: 30px;
    font-weight: bolder;
}

.form-item {
    justify-content: space-between;
    width: 26vw;
    font-size: 23px;
    font-weight: bolder;
    font-style: italic;
}

#item-name,
#item-address,
#item-number {
    height: 25px;
}

.message-error {
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
}

.message-confirmation {
    font-size: 30px;
    font-weight: bold;
}

.link-main {
    color: #ff0000;
    font-size: 25px;
    font-weight: bold;
}

.link-main:hover {
    text-decoration: underline;
}

.data-close {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
}

.data-close:hover {
    cursor: pointer;
    opacity: 1;
}
    
.data-close:before,
.data-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 7px;
    background-color: #333;
}

.data-close:before {
    transform: rotate(45deg);
}

.data-close:after {
    transform: rotate(-45deg);
}
    
.data-close:hover:after,
.data-close:hover:before {
    height: 43px;
    width: 10px;
    border-radius: 100%;
    background-color: #ff0000;
}